<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>❄️Weather</title>
</head>
<body>

    <div class="main">
        {{> header}}
        <p>
            This App uses two APIs,
            <a href="https://www.mapbox.com/">Mapbox</a> to get the precise location data, 
            and use that location to get the forecast data from <a href="https://weatherstack.com/"> Weatherstack</a>
        </p>
        <img src="/img/me.png" alt="">
    </div>
    

    
    {{> footer}}
</body>
</html>