<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>❄️Weather</title>
</head>
<body>

    <div class="main">
        {{> header}}
        <p class="test"> {{ description }} </p>
        <p class="text-center">
            If the location's output does not match your given location,
            please be more precise.
        </p>
        <p>
            For instance, instead of typing <mark><del>Bata</del></mark> only, you can input <mark>Bata Litoral</mark>
        </p>
    </div>

    

    {{> footer}}
</body>
</html>